<!-- Start Header -->

<header>
  <div class="container">
    <a routerLink="/" routerLinkActive="router-link-active"  class="logo">
      <img decoding="async" src="images/logo.png" alt="Logo" />
    </a>
    <nav>
      <i class="fas fa-bars toggle-menu"></i>
      <ul>
        <li><a class="button" routerLink="about" routerLinkActive="router-link-active" >Home</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/src/app/portfolio" routerLinkActive="router-link-active" >Portfolio</a></li>
        <li><a routerLink="/about" routerLinkActive="router-link-active" >About</a></li>
        <li><a routerLink="/Pricing" routerLinkActive="router-link-active" >Pricing</a></li>
        <li><a routerLink="/contact" routerLinkActive="router-link-active" >Contact</a></li>
      </ul>
      <div class="form">
        <i class="fas fa-search"></i>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->
