 <div class="landing">
  <div class="overlay"></div>
  <div class="text">
    <div class="content">
      <h2>
        Hello World!<br />
        We Are Legends We Make Art.
      </h2>
      <p>
        The structure is balanced, with emphasis on stability and support.
        A refined blend of elements creates an elegant and harmonious design. The arrangement is carefully chosen to enhance functionality and aesthetics.
         The balance of form and function ensures a seamless experience
      </p>
    </div>
  </div>
  <i class="fas fa-angle-left change-background fa-2x"></i>
  <i class="fas fa-angle-right change-background fa-2x"></i>
  <ul class="bullets">
    <li></li>
    <li class="active"></li>
    <li></li>
  </ul>
</div>
