
  /* Start About */
  .about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
  }
  .about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
  }
  @media (max-width: 767px) {
    .about img {
      bottom: -60px;
      margin-top: -60px;
    }
  }
  /* End About */
