<!-- Start Pricing -->
<div class="pricing">
  <div class="container">
    <div class="main-heading">
      <h2>Pricing</h2>
      <p>
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
      </p>
    </div>

    <div class="plans">
      <div class="plan" *ngFor="let plan of pricingPlans">
        <div class="head">
          <h3>{{ plan.name }}</h3>
          <span>{{ plan.price }}</span>
        </div>
        <ul>
          <li *ngFor="let feature of plan.features">{{ feature }}</li>
        </ul>
        <div class="foot">
          <a href="#">Buy Now</a>
        </div>
      </div>
    </div>

    <p class="contact-text">Contact us if you have special request</p>
    <a href="#" class="contact-link">Contact Us</a>
  </div>
</div>
<!-- End Pricing -->
