<!-- Start Skills -->
<div class="our-skills">
  <div class="container">
    <!-- Testimonials Section -->
    <div class="testimonials">
      <h3>Testimonials</h3>
      <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>

      <div class="content" *ngFor="let testimonial of testimonials">
        <img decoding="async" [src]="testimonial.image" alt="" />
        <div class="text">
          {{ testimonial.text }}
          <p>{{ testimonial.author }}</p>
        </div>
      </div>

      <ul class="bullets">
        <li *ngFor="let t of testimonials; let i = index" [class.active]="i === 1"></li>
      </ul>
    </div>

    <!-- Skills Section -->
    <div class="skills">
      <h3>Skills</h3>
      <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>

      <div class="prog-holder" *ngFor="let skill of skills">
        <h4>{{ skill.name }}</h4>
        <div class="prog">
          <span [style.width]="skill.progress" [attr.data-progress]="skill.progress"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Skills -->
