<!-- Start Portfolio -->
<div class="portfolio">
  <div class="container">
    <div class="main-heading">
      <h2>Portfolio</h2>
      <p>
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
      </p>
    </div>

    <!-- Categories List -->
    <ul class="shuffle">
      <li *ngFor="let category of categories" class="active">{{ category }}</li>
    </ul>
  </div>

  <!-- Images Grid -->
  <div class="imgs-container">
    <div class="box" *ngFor="let image of images">
      <img decoding="async" [src]="image.src" alt="Portfolio Image" />
      <div class="caption">
        <h4>{{ image.title }}</h4>
        <p>{{ image.category }}</p>
      </div>
    </div>
  </div>

  <a href="#" class="more">More</a>
</div>
<!-- End Portfolio -->
